* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('img/nss.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    }
    

.geral {
    width: 420px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border: 2px solid rgba(255, 255, 255, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}
.geral h1 {
    font-size: 32px;
    text-align: center;
}
.geral .form {
    position: relative;
    width: 100%;
    height: 25px;
    margin: 39px 0;
}
.form input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.form input::placeholder {
    color: #fff;
}
.form i {
    position: absolute;
    right: 20px;
    top: 80%;
    transform: translateY(-50%);
    font-size: 20px;
}
.geral .relembre {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 20px 0 15px;
}
.relembre label input {
    accent-color: #fff;
    margin-right: 3px;
}

.geral .botao {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
}
.registro {
    text-align: center;
}

.geral .registro {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}